In [ ]:
import math

In [ ]:
# example
s ='''
Time:      7  15   30
Distance:  9  40  200
'''

races_times = [7,15,30]
races_distances = [9,40,200]

In [ ]:
# input
s ='''
Time:        49     78     79     80
Distance:   298   1185   1066   1181
'''

races_times = [49,78,79,80]
races_distances = [298,1185,1066,1181]

In [ ]:
result = []
for race_time, race_distance_record in zip(races_times,races_distances):
    charge = 0
    travelled = 0
    # race_time = 7; 
    # race_distance_record = 9;
    options = 0
    for t in range(1,race_time): # 1...6 . one must charge at least 1ms, and 7 miliseconds is already too much (is already race over).
        charge += 1 # mm/s ...(je vlastne rýchlosť) 
        travelled = charge*(race_time-t)
        if travelled > race_distance_record:
            # print(charge)
            options += 1
    result.append(options)

In [ ]:
result

[34, 37, 44, 41]

In [ ]:
math.prod(result) # 2269432. input

2269432

In [ ]:
# done